# workflow of ml-------->

Data Ingestion(data loading)---------> Data cleaning------> select ml model---------->model training
----------->  Model prediction----------> calculate performance of model

### Data cleaning and Preprocessing->
Data ----> x_train,x_test,y_train,y_test
#### Machine(x_train,y_tarin)
1+1=2
2+2=4
3+2=5

Machine (5+7)----> ???? machine_prediction== 13
then we have check difference 
12------> y_test
13----->y_pred
#Machine(y_pred,y_test)

#### how can we do data dividation???

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("C:\\Users\\HARSHITA\\OneDrive\\Documents\\Desktop\\ml\\covid_toy - covid_toy.csv")
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [4]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [5]:
df['fever']=df['fever'].fillna(df['fever'].mean())

In [6]:
x=df.drop(columns= ['has_covid'])    ####-------> Input or independant data
x.shape

(100, 5)

In [7]:
y=df['has_covid']   ###     Targeted or dependant data
y.shape

(100,)

In [8]:
from sklearn.model_selection import train_test_split

In [ ]:
!pip install scikit-learn

In [ ]:
df=pd.read_csv("C:\\Users\\HARSHITA\\Downloads\\Attrition - Attrition.csv")
df.head(3)

In [ ]:
cate_col=df.select_dtypes(include=['object'])
cate_col

In [ ]:
num_col=df.select_dtypes(exclude=['object'])
num_col

In [ ]:
cate_col.isnull().sum()

In [ ]:
num_col.isnull().sum()

In [ ]:
df.isnull().sum()

In [ ]:
x=df.drop(columns=['YearsWithCurrManager'])
x.shape

In [ ]:
y=df['YearsWithCurrManager']
y.shape

(1470,)

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=45)

In [ ]:
print("Total data shape : ",df.shape)
print("----------------------------")
print("Input data shape : ",x.shape)
print("x_tarin data shape : ",x_train.shape)
print("x_test data shape : ",x_test.shape)
print("----------------------------")
print("Input data shape : ",y.shape)
print("y_tarin data shape : ",y_train.shape)
print("y_test data shape : ",y_test.shape)

Total data shape :  (1470, 35)
----------------------------
Input data shape :  (1470, 34)
x_tarin data shape :  (1176, 34)
x_test data shape :  (294, 34)
----------------------------
Input data shape :  (1470,)
y_tarin data shape :  (1176,)
y_test data shape :  (294,)

# ===============================================================

In [ ]:
df=pd.read_csv("C:\\Users\\HARSHITA\\Downloads\\placement - placement.csv")
df.head(3)

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1

In [ ]:
df.isnull().sum()

cgpa            0
resume_score    0
placed          0
dtype: int64

In [ ]:
x=df.drop(columns=['placed'])
x.shape

(100, 2)

In [ ]:
y=df['placed']
y.shape

(100,)

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=46)

In [ ]:
print("Total data shape: ",df.shape)
print("------------------------")
print("Input data shape : ",x.shape)
print("x_train data shape",x_train.shape)
print("x_test data shape",x_test.shape)
print("------------------------")
print("Input data shape : ",y.shape)
print("y_train data shape",y_train.shape)
print("y_test data shape",y_test.shape)

Total data shape:  (100, 3)
------------------------
Input data shape :  (100, 2)
x_train data shape (80, 2)
x_test data shape (20, 2)
------------------------
Input data shape :  (100,)
y_train data shape (80,)
y_test data shape (20,)